<header class="page-header">
  <div id="navigation" class="page-header__content">
    <nav aria-labelledby="main-menu-title">
      <h2 class="a-helper--hidden">
        <a href="#content">Skip main navigation</a>
      </h2>
      <ul>
        <li>
          <a routerLink="/">Main</a>
        </li>
        <li>
          <a routerLink="/calendar">Calendar</a>
        </li>
        <li>
          <a routerLink="/rankings">Rankings</a>
        </li>
        <li>
          <a routerLink="/athletes">Athletes</a>
        </li>
        <li>
          <a routerLink="/">Trending</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
